//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// modules
@import "modules/ant/index", "modules/vueDatePicker/index", "modules/helpers/index";

// base
@import "base/typography";


*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}
html {
  -webkit-text-size-adjust: 100%;
}

body{
  scrollbar-color: #0096b2 rgba(238, 245, 252, 0.65);
  scrollbar-width: thin;
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d1e8ff;
  background: #d1e8ff;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303d4d30;
  border-radius: 10px;
  transition: background 0.8s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303d4d;
}
